
        <html>
        <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="icon" type="image/png" sizes="32x32" href="static/h.png">
                        <!-- Image and text -->
            <nav class="navbar navbar-light bg-light">
                <a class="navbar-brand" href="/">
                <img src="/static/h.png" width="30" height="30" class="d-inline-block align-top" alt="">
                Daily Covid-19 Counter
                </a>
            </nav>
                    
                    <head>
            <body>
                <table class="table table-dark">
                     <tr>
                          <td>State</td>
                          <td>Total Cases</td>
                          <td>deaths</td>
                          <td>discharged</td>
                     </tr>
                     <tr>
                          <td>Andaman and Nicobar Islands</td>
                          <td>33</td>
                          <td>0</td>
                          <td>33</td>
                     </tr>
                     <tr>
                          <td>Andhra Pradesh</td>
                          <td>2018</td>
                          <td>45</td>
                          <td>975</td>
                     </tr>
                     <tr>
                          <td>Arunachal Pradesh</td>
                          <td>1</td>
                          <td>0</td>
                          <td>1</td>
                     </tr>
                     <tr>
                          <td>Assam</td>
                          <td>65</td>
                          <td>2</td>
                          <td>34</td>
                     </tr>
                     <tr>
                          <td>Bihar</td>
                          <td>747</td>
                          <td>6</td>
                          <td>377</td>
                     </tr>
                     <tr>
                          <td>Chandigarh</td>
                          <td>174</td>
                          <td>2</td>
                          <td>24</td>
                     </tr>
                     <tr>
                          <td>Chhattisgarh</td>
                          <td>59</td>
                          <td>0</td>
                          <td>53</td>
                     </tr>
                     <tr>
                          <td>Dadar Nagar Haveli</td>
                          <td>1</td>
                          <td>0</td>
                          <td>0</td>
                     </tr>
                     <tr>
                          <td>Delhi</td>
                          <td>7233</td>
                          <td>73</td>
                          <td>2129</td>
                     </tr>
                     <tr>
                          <td>Goa</td>
                          <td>7</td>
                          <td>0</td>
                          <td>7</td>
                     </tr>
                     <tr>
                          <td>Gujarat</td>
                          <td>8541</td>
                          <td>513</td>
                          <td>2780</td>
                     </tr>
                     <tr>
                          <td>Haryana</td>
                          <td>730</td>
                          <td>11</td>
                          <td>337</td>
                     </tr>
                     <tr>
                          <td>Himachal Pradesh</td>
                          <td>59</td>
                          <td>2</td>
                          <td>39</td>
                     </tr>
                     <tr>
                          <td>Jammu and Kashmir</td>
                          <td>879</td>
                          <td>10</td>
                          <td>427</td>
                     </tr>
                     <tr>
                          <td>Jharkhand</td>
                          <td>160</td>
                          <td>3</td>
                          <td>78</td>
                     </tr>
                     <tr>
                          <td>Karnataka</td>
                          <td>862</td>
                          <td>31</td>
                          <td>426</td>
                     </tr>
                     <tr>
                          <td>Kerala</td>
                          <td>519</td>
                          <td>4</td>
                          <td>489</td>
                     </tr>
                     <tr>
                          <td>Ladakh</td>
                          <td>42</td>
                          <td>0</td>
                          <td>21</td>
                     </tr>
                     <tr>
                          <td>Madhya Pradesh</td>
                          <td>3785</td>
                          <td>221</td>
                          <td>1747</td>
                     </tr>
                     <tr>
                          <td>Maharashtra</td>
                          <td>23401</td>
                          <td>868</td>
                          <td>4786</td>
                     </tr>
                     <tr>
                          <td>Manipur</td>
                          <td>2</td>
                          <td>0</td>
                          <td>2</td>
                     </tr>
                     <tr>
                          <td>Meghalaya</td>
                          <td>13</td>
                          <td>1</td>
                          <td>10</td>
                     </tr>
                     <tr>
                          <td>Mizoram</td>
                          <td>1</td>
                          <td>0</td>
                          <td>1</td>
                     </tr>
                     <tr>
                          <td>Orissa</td>
                          <td>414</td>
                          <td>3</td>
                          <td>85</td>
                     </tr>
                     <tr>
                          <td>Puducherry</td>
                          <td>12</td>
                          <td>0</td>
                          <td>6</td>
                     </tr>
                     <tr>
                          <td>Punjab</td>
                          <td>1877</td>
                          <td>31</td>
                          <td>168</td>
                     </tr>
                     <tr>
                          <td>Rajasthan</td>
                          <td>3988</td>
                          <td>113</td>
                          <td>2264</td>
                     </tr>
                     <tr>
                          <td>Tamil Nadu</td>
                          <td>8002</td>
                          <td>53</td>
                          <td>2051</td>
                     </tr>
                     <tr>
                          <td>Telengana</td>
                          <td>1275</td>
                          <td>30</td>
                          <td>800</td>
                     </tr>
                     <tr>
                          <td>Uttaranchal</td>
                          <td>152</td>
                          <td>0</td>
                          <td>2</td>
                     </tr>
                     <tr>
                          <td>Uttarakhand</td>
                          <td>68</td>
                          <td>1</td>
                          <td>46</td>
                     </tr>
                     <tr>
                          <td>Uttar Pradesh</td>
                          <td>3573</td>
                          <td>80</td>
                          <td>1758</td>
                     </tr>
                     <tr>
                          <td>West Bengal</td>
                          <td>2063</td>
                          <td>190</td>
                          <td>499</td>
                     </tr>
                </table>
            </body>
        </html>